* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: indigo;
}


/********************************SELECTORES BÁSICOS***********************************/

/*Selector por clases*/
.botonRamdon {
  background-color: brown;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
}

/*Selector por id*/
#soyUnico {
  background-color: aqua;
  color: blue;
  border-color: red;
  font-size: 1rem;
  font-weight: 900;
}

/*Por atributo desde html*/
[ejemploPorAtributo="sisi"] {
  color: brown;
  background-color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Por forma descendiente*/
h2 span {
  color: black;
  background-color: red;
}

/*Por pseudo clases*/
.botonHover:hover {
  background-color: blueviolet;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

pre {
  background-color: black;
  color: white;
}


/********************************SELECTORES AVANZADOS ***********************************/

/*Lo aplican al primer elemento despues de haber asignado la clase el hijo directo se le dice*/
.hijos-directos > li {
  background-color: aqua;
}

/*Lo aplica a los que esten despues de los hijos directos cualquiera solo hay que especificar*/
.hijos-descendientes b {
  background-color: aqua;
}

/*Aplica estilos a todos los hermanos siguientes despues de haberse asignado*/
.hermanos-generales ~ li {
  background-color: aqua;
}

/*Aplica el estilo al siguiente elemento si es hermano de donde se declaro la clase de resto no*/
.hermanos-adyacentes + li {
  background-color: aqua;
}

/*Aplica los estilos unicamente a los que tengan ese atributo en especial*/
.selectores-atributos a[href]{
  color: blueviolet;
}

.selectores-atributos a[target="_blank"]{
  font-weight: bold;
}

.selectores-atributos a[href*="whatsapp"]{
  text-decoration: none;
  font-size: 24px;
}


/********************************PSEUDO-CLASES***********************************/

/*Algunas pseudoclases de formularios*/

/*Para los elementos que tenga un focus del usuario ponga el estilo*/
.form-pseudoclases *:focus{
  background-color:skyblue;
}

/*Para los ementos que ya tengan valores validos ponga el estilo*/
.form-pseudoclases *:valid{
  border-color: greenyellow;
}

/*Para los ementos que ya tengan valores invalidos ponga el estilo*/
.form-pseudoclases *:invalid{
  border-color: red;
}

/*Cuando se pase por encima con el mouse*/
.menu-pseudoclases a:hover{
  color:tomato;
  font-size: 20px;
}

.menu-pseudoclases a:visited{
  color:greenyellow;
}

/*Cuando al oprimir un enlace el target es el que se pone en el url este indica que estamos posicionados en dicha parte*/
#head-css:target{
  background-color: slateblue;
  color: white;
  font-weight:bold;
}


/*Cambia el color al primer elmento del li*/
.lista-pseudoclases li:first-child{
  color: cadetblue;
}

/*Cambia el color del ultimo elemento del li*/
.lista-pseudoclases li:last-child{
  color: red;
}

/*Cambia el color el color a la posicion que queramos*/
.lista-pseudoclases li:nth-child(3){
  color: blue;
}

/*Que aplique los estilos cada cierto elementos en este caso de 4 en 4*/
.lista-pseudoclases li:nth-child(4n){
  font-size: 24px ;
}


/*Aplicar estilos a elementos pares*/
.lista-pseudoclases li:nth-child(even){
  background-color: yellow;
}

/*Aplicar estilos a elementos impares*/
.lista-pseudoclases li:nth-child(odd){
  background-color: red;
}

/*Aplica estilos a los elementos (etiquetas) que asignemos*/
.articulo-pseudoclases p:first-of-type{
  background-color: yellow;
}

/*Aplica el estilo al ultimo elemento de tipo p dentro de esa clase*/
.articulo-pseudoclases p:last-of-type{
  background-color: red;
  font-weight: bold;
}

/*Todas las pseudoclases que ocupamos anteriormente sirven para esto*/
.articulo-pseudoclases div:nth-of-type(3){
  background-color: chartreuse;
  color: black;
}

/*Que dentro de la clase a todos los elementos le apliquen los estilos menos a los que le indiquemos*/
.articulo-pseudoclases *:not(p){
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 26, 255);
}


/********************************PSEUDO-ELEMENTOS***********************************/

/*Aplica estilos antes de no olvidar poner los textos dentro de comillas*/
.figura::before{
  content: "🅰️";
}

/*Aplica estilos despues de*/
.figura::after{
  content: "🅰️";
}

.precio-figura::before{
  content: "$";
  font-weight: bold;
}

.precio-figura::after{
  content: " Pesos";
  font-weight: bold;
}

/*Aplicarle estilos a la primera letra de en este ejemplo la p*/
.p-pseudoelemento::first-letter{
  font-weight: bold;
  font-family: cursive;
  font-size: 32px;
}

/*Para cambiar los estilos al momento de seleccionar texto*/
.p-pseudoelemento::selection{
  background-color: rebeccapurple;
  color: white;
}

/*Aplicar estilo al texto del placeholder*/
.input-pseudoelemento::placeholder{
  color: cornflowerblue;
}

/********************************AGRUPAR SELECTORES***********************************/

/*Agrupar elementos y aplicarle el mismo estilo a varios*/

.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
  background-color: black;
  color: yellow;
  border-width: 1px;
  display: block;
  width: 300px;
  margin-bottom: 10px;
}

.form-agrupar-selectores input[type="submit"]{
  width: 305px;
}




