* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: indigo;
}


/********************************SELECTORES BÃSICOS***********************************/

/*Selector por clases*/
.botonRamdon {
  background-color: brown;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
}

/*Selector por id*/
#soyUnico {
  background-color: aqua;
  color: blue;
  border-color: red;
  font-size: 1rem;
  font-weight: 900;
}

/*Por atributo desde html*/
[ejemploPorAtributo="sisi"] {
  color: brown;
  background-color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Por forma descendiente*/
h2 span {
  color: black;
  background-color: red;
}

/*Por pseudo clases*/
.botonHover:hover {
  background-color: blueviolet;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

pre {
  background-color: black;
  color: white;
}


/********************************SELECTORES AVANZADOS ***********************************/

/*Lo aplican al primer elemento despues de haber asignado la clase el hijo directo se le dice*/
.hijos-directos > li {
  background-color: aqua;
}

/*Lo aplica a los que esten despues de los hijos directos cualquiera solo hay que especificar*/
.hijos-descendientes b {
  background-color: aqua;
}

/*Aplica estilos a todos los hermanos siguientes despues de haberse asignado*/
.hermanos-generales ~ li {
  background-color: aqua;
}

/*Aplica el estilo al siguiente elemento si es hermano de donde se declaro la clase de resto no*/
.hermanos-adyacentes + li {
  background-color: aqua;
}

/*Aplica los estilos unicamente a los que tengan ese atributo en especial*/
.selectores-atributos a[href]{
  color: blueviolet;
}

.selectores-atributos a[target="_blank"]{
  font-weight: bold;
}

.selectores-atributos a[href*="whatsapp"]{
  text-decoration: none;
  font-size: 24px;
}


/********************************PSEUDOCLASES***********************************/

/*Algunas pseudoclases de formularios*/

/*Para los elementos que tenga un focus del usuario ponga el estilo*/
.form-pseudoclases *:focus{
  background-color:skyblue;
}

/*Para los ementos que ya tengan valores validos ponga el estilo*/
.form-pseudoclases *:valid{
  border-color: greenyellow;
}

/*Para los ementos que ya tengan valores invalidos ponga el estilo*/
.form-pseudoclases *:invalid{
  border-color: red;
}

/*Cuando se pase por encima con el mouse*/
.menu-pseudoclases a:hover{
  color:tomato;
  font-size: 20px;
}

.menu-pseudoclases a:visited{
  color:greenyellow;
}

/*Cuando al oprimir un enlace el target es el que se pone en el url este indica que estamos posicionados en dicha parte*/
#head-css:target{
  background-color: slateblue;
  color: white;
  font-weight:bold;
}
  
