*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

a[href="#head-aprendiendoJS"]{
  text-decoration: none;
}

.glosario-items b:first-of-type{
  color:red;
}
